torch
torchvision
timm
diffusers
accelerate
datasets
transformers
opencv-python
matplotlib
scipy
requests
tqdm
pycocotools
ptflops
thop
sentence-transformers
tf-keras
pytorch-fid
scikit-image
torchmetrics[image]
sentencepiece
torch-fidelity
pyiqa
torch_pruning